body{
			background: linear-gradient(45deg, #EECFBA, #C5DDE8);
			min-height: 600px;

		}
		#div-form{
			background-color: rgba(26, 26, 26, 0.1);
			margin: 10% 25% 0 25%;
			padding: 30px 2%;
			text-align: center;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
  			border-radius: 10px;
			-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		}
		input{
			width:80%;
			height: 40px;
			margin:10px 0;
		}